
#confirmSignupComp{
  $paddingLeft: 6%;
  // background: radial-gradient($color-1st, darken($color-1st, 10%));
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;



  #header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: .8em $paddingLeft;
    background: $color-1st;
    z-index: 2;
    
    .icon{
      font-size: 1.3em;
      margin-right: 1em;
    }
    
    .label{
      font-size: 1.5em;
      margin: 0;

    }

  }

  #content{
    position: relative;
    width: $tbl-content-width;
    padding: 0 $paddingLeft;
    padding-top: 2em;
    height: max-content;
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    #logo{
      margin-bottom: 3em;
      width: 15vw;
      height: auto;
    }


    .input-field{
      margin: 1em 0;

      input{
        font-size: 1.5em;
        text-align: center;
      }
    }

    #changeEmail{
      width: 100%;
      margin-bottom: 1.5em;

      a{
        color: inherit;
        font-weight: bold;
      }
    }

    #resendCode{
      .timer{
        color: #c0c0c0;
        margin-left: 1em;
      }
      
      &.disabled{
        color: #c0c0c0;

      }
    }
    
  }

  @include media('<md') {

    #content{
      width: 100%;
      top: 12vh;

      #logo{
        width: 45vw;
      }
    }

  }

} 