
#forgotPasswordComp{
  // background: radial-gradient($color-1st, darken($color-1st, 10%));
  height: 100vh;
  width: 100vw;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  @extend .ps-container;
  display: flex;
  justify-content: center;

  #content{
    position: relative;
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    #logo{
      margin-bottom: 4em;
      width: 45vw;
      height: auto;
    }

    .input-field{
      margin: 1em 0;
      width: 100%;

      .label{
        .error{
          color: red;
          padding-left: .5em;
          text-transform: lowercase;
        }
      }

      input{
        font-size: 1.7em;
        font-weight: 800;
        text-align: center;
      }
      
      &#email{
        input{
          text-align: left;
          font-size: 1em;
          font-weight: 500;
        }

      }


    }

    #changeEmail{
      width: 100%;
      span{
        color: inherit;
        font-weight: bold;
      }
    }
    
    #resendToken{
      .timer{
        color: #c0c0c0;
        margin-left: 1em;
      }
      
      &.disabled{
        color: #c0c0c0;

      }
    }

    #ctnBtn{
      color: inherit;
      width: 100%;
        
    }
    
  }

  @include media('<md') {

    #content{
      width: 100%;
      align-items: flex-start;

    }

  }

} 