
header#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 3em calc(100% - 6em) 3em;
  justify-content: space-between;
  width: 100%;
  height: $document-sm-font-size * 4;
  text-align: center;
  border-bottom: 0 none;
  background-color: $color-1st;
  padding-top: $document-sm-padding-top;
  padding-bottom: $document-sm-padding-top;
  @extend .ps-container;
  // @include clearfix();
  // @include transition(all 0.4s $ease-in-out-quad);

  $icons-size: 1.5em;
  .left, .center, .right{
    display: flex;
    align-items: center;
  }
  
  .left, .right{
    width: 3em;
  }
  
  .center{
    justify-content: center;
    width: 100%;
  }
  
  .right{
    display: flex;
    justify-content: flex-end;
    
    a{
      justify-content: center;
      color: inherit;
      text-decoration: none;
      overflow: hidden;
      height: max-content;
      line-height: 1;
      
      img{
        width: 3em;
        height: 3em;
        object-position: center;
        object-fit: cover;
        border-radius: 999999px;
      }
      
      .icon{
        font-size: 1.5em;
        
      }

      &:active,&:hover,&:focus{
        color: inherit;
        
      }
    }
  }

  .home-icon, .go-back-icon, .user-avi{
    font-size: $icons-size;
  }

  .user-avi{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .nav-label{
    font-weight: bold;
    font-size: 1.25em;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;

  }

  .search-bar{
    width: 65vw;

  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  .navigation__extra {
      display: inline-block;

      li {
          margin-right: 5px;
          padding-right: 5px;

          &:after {
              display: none;
          }
      }
  }

  .header__extra {
      span {
          background-color: $color-1st;
      }
  }

  .header__actions {
      i {
          font-size: 24px;
      }
  }

  .ps-block--user-header {
      i {
          font-size: 24px;
      }
  }

  .header__top {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      background-color: #f4f5f5;
      padding: 15px 30px;

      > * {
          width: 100%;
      }

      .header__left {
          max-width: 40%;

          p {
              margin-bottom: 0;
          }
      }

      .header__right {
          max-width: 60%;
          text-align: right;

          .navigation__extra {
              display: inline-block;
          }
      }
  }

  .navigation--mobile {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 10px 30px;
      border-bottom: none;

      .navigation__left {
          display: flex;
          align-items: center;
      }
  }

  .header__extra {
      span {
          background-color: #000;

          i {
              color: #ffffff;
              font-weight: 600;
          }
      }
  }

  &.active {
      @include transform(translateX(270px));
  }

  &.header--sticky {
      .navigation--mobile {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 1000;
          background-color: $color-1st;
          @include box-shadow(0 0 3px 0 rgba(#000, 0.12));
      }
  }

  @include media('<lg') {
    // .ps-search--mobile {
    //     display: none;
    // }
  }

  @include media('<md') {
  //     .header__top {
  //         .header__left {
  //             display: none;
  //         }

  //         .header__right {
  //             max-width: 100%;
  //             text-align: center;
  //         }
  //     }
  }

  @include media('<sm') {
      /* .navigation__extra {
          li {
              > a {
                  display: none;
              }
          }
      } */
  }

  @include media('<xs') {
      /* .header__top {
          display: none;
      }
      .header__actions {
          > * {
              margin: 0;
              margin-right: 20px;
          }

          i {
              font-size: 24px;
          }
      }
      .ps-block--user-header {
          margin-right: 0;

          i {
              font-size: 24px;
          }

          .ps-block__right {
              display: none;
          }
      }
      .ps-search--mobile {
          display: block;
      } */
  }

  @include media('<lg') {
      /* display: none;
      &.header--mobile {
          display: block;
      } */
  }
}

#navigation {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10002;
  
  #menuDrawal{
    position: fixed;
    display: inline;
    top: 0px;
    left: 0px;
    width: 0;
    
    $contentWidth: 70vw;
    
    .content{
      position: relative;
      z-index: 1;
      left: 0;
      background: white;
      padding-top: 1em;
      padding-bottom: 1em;
      width: $contentWidth;
      height: inherit;
      transition: left 150ms linear;

      .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.2em;
        @extend .ps-container;

        .avi{
          position: relative;
          width: 30%;
          border-radius: 9999999px;
          overflow: hidden;

          img{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: inherit;

          }
          
          &.vendor{
            img{

              padding: 3px;
              border: solid 2px $color-1st;
            }
  
          }

          &::after{
            display: block;
            content: "";
            padding-top: 100%;
          }
        }

        .name{
          font-weight: bold;
          font-size: 1.3em;
          text-transform: capitalize;
          margin: 0;
          margin-top: .4em;
          line-height: 1;
          color: inherit;
        }
        
        .handle{
          color: inherit;
          opacity: .5;
          margin: 0;
        }
      }

      .nav-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        padding-top: 1em;
        padding-bottom: 1em;
        @extend .ps-container;
  
        .icon{
          margin-right: 1em;
          font-size: 1.3em;
        }
        
        h5{
          padding: 0;
          margin: 0;
        }
  
        &.active{
          background: fade-out($color-1st, .8);
        }
      }
    }

    .bk-block{
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: inherit;
      background: rgba(0, 0, 0, 0.377);
    }

    &.hide{
      .content{
        left: -$contentWidth;
      }

      .bk-block{
        display: none;
      }

    }
  }



  
  .navigation__content {
    // max-width: 400px;
    position: relative;
    z-index: 9;
    padding-top: .8em;
    padding-bottom: .8em;
    border-top: 1px solid #ccc;
    background: white;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    @extend .ps-container;  
    
    .navigation__item {
      text-align: center;
      text-decoration: none;
      color: inherit;
  
      i {
        font-size: 1.3em;
      }
  
      span {
        display: block;
        font-size: .8em
      }
  
      &.active {
        i {
            color: $color-1st;
        }
  
        span {
            color: $color-1st;
        }
      }
    }
    
    
    @include media('<md') {
      justify-content: space-between;
  
    }
  }
  

}

#cartDrawalContent{
  .ps-panel__content{
    padding-left: 2em !important;
    @extend .ps-container;
  }
}

#searchPanel{
  .ps-panel__header{
    display: flex;
    @extend .ps-container;
    // padding-left: 2em !important;

    .search-bar{
      width: 100%;
    }

  }
  
  #result{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em !important;

    .ps-product--cart-mobile{
      a{
        color: inherit;
      }

      .price{
        color: red;
      }
    }
    
  }

  @include media('<md') {
    .ps-panel__header{
      padding-left: inherit;
    
    }
  
  }
}

#appModeSwitcher{
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100%;
  background: #f7f7f7;
  padding-top: .8em;
  padding-bottom: .8em;
  @extend .ps-container;

  p{
    opacity: .3;
    font-weight: 500;
    margin-bottom: .2em;
  }

  div{
    display: flex;
    justify-content: space-between;

    > span{
      font-weight: 500;
      font-size: 1.2em;
    }
  }

  .am-switch {
    margin: 0;
  }

}
