#signinComp{
  // background: radial-gradient($color-1st, darken($color-1st, 10%));
  position: fixed;
  z-index: 9999;;
  height: 100vh;
  width: 100vw;
  padding: 0 $document-sm-padding-left;
  display: flex;
  justify-content: center;

  #content{
    position: relative;
    top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    
    a{
      color: inherit;
    }

    #logo{
      margin-bottom: 3em;
      width: 45vw;
      height: auto;
    }

    #forgotPassword{
      width: 100%;
      text-align: right;

      a{
        font-weight: bold;
        color: inherit;
      }
    }

    #signIn{
      width: 100%;
    }

    #register{
      margin-top: 1em;

      a{
        color: inherit;
        font-weight: bold;
      }
    }
  }
} 