
#signupComp{
  $paddingLeft: 6%;
  // background: radial-gradient($color-1st, darken($color-1st, 10%));
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  #header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: .8em $paddingLeft;
    background: $color-1st;
    z-index: 2;
    
    .icon{
      font-size: 1.3em;
      margin-right: 1em;
      color: inherit;
    }
    
    .label{
      font-size: 1.5em;
      margin: 0;

    }

  }

  #content{
    position: relative;
    width: $tbl-content-width;
    padding: 0 $paddingLeft;
    padding-top: 2em;
    height: max-content;
    // background: aqua;
    
 
    .input-field{
      margin-bottom: 1.5em;

      .label{
        .error{
          color: red;
          padding-left: .5em;
        }
      }
    }

    #termsCond.error{
      .ant-checkbox-inner{
        border-color: red;
      }
    }

    a{
      color: inherit;
      font-weight: bold;
    }

    #logo{
      margin-bottom: 4em;
      width: 45vw;
      height: auto;
    }

    #forgotPassword{
      width: 100%;
      text-align: right;

      span{
        font-weight: bold;
      }
    }    
        
    button{
      margin-top: 1em;

      .icon{
        margin-left: .8em;
      }
    }

    #switcher{
      text-align: center;

      p{
        margin-top: 1em;
      }
    }

  }

  @include media('<md') {

    #content{
      width: 100%;
      // align-items: flex-start;

    }

  }

} 