#signinComp{
  // background: radial-gradient($color-1st, darken($color-1st, 10%));
  height: 100vh;
  width: 100vw;
  padding: 0 $document-sm-padding-left;
  display: flex;
  justify-content: center;

  #content{
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $tbl-content-width;
    height: max-content;
    
    a{
      color: inherit;
    }

    #logo{
      margin-bottom: 3em;
      width: 15vw;
      height: auto;
    }

    #forgotPassword{
      width: 100%;
      text-align: right;

      a{
        font-weight: bold;
        color: inherit;
      }
    }

    #signIn{
      width: 100%;
    }

    #register{
      margin-top: 1em;

      a{
        color: inherit;
        font-weight: bold;
      }
    }
  }

  @include media('<md') {

    #content{
      width: 100%;
      top: 12vh;

      #logo{
        width: 45vw;

      }
    }
  }
} 