$pageWidth: 30px;

html{
  font-size: 14px;
  
  #homepage-1 {
  
    .products-prev{
      margin-bottom: 3em;
  
      .products-prev-header{
        margin-bottom: 1em;
        padding-bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        
        h3{
          margin-bottom: 0;
          font-weight: 500;
          margin-right: 70px;
        }
  
        a{
          display: inline;
          padding-bottom: 2px;
          color: #000;
          border-bottom: 1px solid #000;
        }
      }
  
    }
    
    .products-preview{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
      overflow: hidden;
      // padding: 1em $document-sm-padding-left;
      
      .ps-deal-of-day {
        padding: 0;
        
        .ps-container{
          padding: 0;

        }
      }
      
      @media only screen and (max-width:  767px) {
        grid-template-columns: 1fr 1fr;
        
      }
      
      &.grid-1{
        grid-template-columns: 1fr;
        
      }
    }
  }
}