#header {
  display: flex;
  background: black;
  align-items: center;
  justify-content: space-between;
}
#header img {
  width: 5vw;
}
#header .nav-links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}
#header .nav-links .nav-link {
  color: white;
  text-decoration: none;
}
