input.placeholder, select.placeholder {
  font-style: italic !important;
  color: #a3a3a3 !important;
}
input.placeholder option:not([disabled]), select.placeholder option:not([disabled]) {
  font-style: normal;
  font-weight: inherit;
}

button.btn{
	transition: all .2s linear;
	display: inline-block;
  padding: .6em;
  margin-bottom: 1em;
  font-weight: 500;
  width:100%;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid;
	border-radius: 99999999px; 
  color: inherit;

  &:active, &:focus{
    box-shadow: none;
  }

  @mixin createBtn($bk: #999, $color: white ){
    $borderColor: darken($bk, 5%);
    border-color: $borderColor;
    background-color: $bk;
    color: $color;
  
    &:active, &:focus{
      border-color: darken($borderColor, 8%) !important;
      background-color: darken($borderColor, 2%) !important; 
      color:$color !important;
    }
  }
  
  &.btn-success{
    @include createBtn($color-success);
  }
  
  &.btn-secondary{
    @include createBtn($color-secondary);
  }
  
  &.btn-danger{
    @include createBtn($color-danger);
  }
  
  &.btn-warning{
    @include createBtn($color-warning);
  }
  
  &.btn-negative{
    $color: #d4d4d4;
    $colorDark: darken($color, 10%);
    border-color: $colorDark;
    background-color: $color;
    /*color: white;*/
  
    &:active, &:focus{
      /*border-color: $colorDark !important;*/
      background-color: $colorDark !important; 
      /*color: white !important;*/
    }
  
  }
  
  &.btn-default{
    $color: $color-1st;
    $colorDark: darken($color, 5%);
    border-color: $colorDark;
    background-color: $color;
    /*color: white;*/
  
    &:active, &:focus{
      /*border-color: $colorDark !important;*/
      background-color: $colorDark !important; 
      /*color: white !important;*/
    }
  
  }

  &.btn-glass{
    $color: #fdfdfd;
    $colorDark: darken($color, 5%);
    border-color: initial;
    background-color: transparent;
    /*color: white;*/
  
    &:active, &:focus{
      /*border-color: $colorDark !important;*/
      background-color: #fafafa !important; 
      /*color: white !important;*/
    }
  
  }
}

.product-price{
  margin-bottom: .8em;
  display: inline-block;
  
  >:nth-child(1){
    display: inline-block;
    width: max-content;
    margin: 0;
    color: $color-1st;
    background: lighten($color-1st, $amount: 42);
    padding: .3em .7em;
    min-width: 4em;
    border-radius: 9999px;
    font-weight: 500;
    line-height: 1;
    
    >:nth-child(1){
      margin-right: .2em;
      font-weight: inherit;
      line-height: 1;
    }
  }
}

html{
  font-size: $document-sm-font-size;
}

.am-modal-title{
  font-weight: 500;
}

#appLoading{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../public/static/img/logo.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 55%;
  background-color: $color-1st;
  background-color: white;
  z-index: 9999;
  
  @include media('>sm') {
    background-position: 50% 40%;
    background-size: 20%;
  }

}

.page-loader{
  line-height: 1;
  width: 2em;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../public/static/loading.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-color: white;
  z-index: 9999;
  
  @include media('>sm') {

  }

}

.page-empty-msg{
  line-height: 1;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 9999;
  padding: 1em;
  color: #cfcfcf;
 
  &.x2{
    font-size: 1.5em;
  }
  
  @include media('>sm') {

  }


}